extends layout/main.pug

block body
  h1 현재 로그인 된 사용자

  p 인증 제공자: #{req.user.provider}
  p 식별자: #{req.user.provider_user_id}
  p 이름: #{req.user.username}
  p
    img(src=req.user.avatar_url)

  form(action='/logout', method='post')
    input(type='hidden', name='_csrf', value=csrfToken)
    button(type='submit') 로그아웃
